{% extends 'core/base.html' %}


{% block title %}
    Inicio
{% endblock title %}
    
{% block image-header %} 
    home 
{% endblock image-header %} 

{% block title-header %}
    <div>
        <h1 class="display-4 fw-bold">Gad Miranda</h1>
    </div>
    <div>
        <h3 class="fs-2">Desarrollador de software | Creador de contenido digital.</h3>
    </div>
{% endblock title-header %} 

   

{% block content %}



    <h1 class="fw-lighter fst-italic px-5 text-justify-custom"> Soy un apasionado desarrollador de software con experiencia en la creación de aplicaciones web utilizando tecnologías como Python y Django. Con una sólida formación técnica y he colaborado en proyectos que van desde sitios web simples hasta soluciones complejas para agencias automotrices líderes en el mercado. Me considero un jugador de equipo comprometido, siempre dispuesto a aprender y enfrentar nuevos desafíos con creatividad y determinación.
    </h1>
{% endblock content %}
    
