{% extends 'core/base.html' %}


{% block title %}
    Inicio
{% endblock title %}
    
{% block image-header %} 
    home 
{% endblock image-header %} 

{% block title-header %}
    <div>
        <h1 class="display-4 fw-bold">Gad Miranda</h1>
    </div>
    <div>
        <h3 class="fs-2">Desarrollador de software | Creador de contenido digital.</h3>
    </div>
{% endblock title-header %} 

   

{% block content %}
    <h1 class="fw-lighter fst-italic px-5 text-justify-custom">Gad Miranda, apasionado desarrollador de software y creador de contenido digital, especializado en Python, Django, JavaScript y HTML/CSS. Con experiencia en el desarrollo de experiencias digitales innovadoras y en la creación de contenido multimedia, incluido el podcast Rainbow Shadows. También tengo experiencia en la implementación y personalización de sistemas ERP, como Kepler 80, en el sector automotriz. Listo para enfrentar nuevos desafíos y seguir creciendo en el mundo del desarrollo de software y la creación de contenido digital </h1>
{% endblock content %}
    
